header(class="header "+headerCustomClass)
  .header-bg
    a(href="/").logo-wrap
      <svg width="259" height="46" viewBox="0 0 259 46" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_3069_9011)">
        <path d="M70.3705 4.0493V12.8941H76.8543C80.2371 12.8941 81.9286 11.4022 81.9286 8.45393C81.9286 5.50567 80.0962 4.0493 76.4314 4.0493H70.3705ZM65.719 0.106445H77.2419C80.0962 0.106445 82.3514 0.781349 84.0076 2.16668C85.6638 3.552 86.4743 5.61224 86.4743 8.34737C86.4743 10.9404 85.6991 12.9651 84.1486 14.457C82.5981 15.9489 80.519 16.7304 77.841 16.7304H70.3352V27.1381H65.6838L65.719 0.106445Z" fill="black"/>
        <path d="M99.8295 7.17529V11.2958C99.0895 11.2247 98.5962 11.1892 98.3495 11.1892C94.6495 11.1892 92.7819 13.6402 92.7819 18.5066V27.1027H88.5533V7.56602H92.5353V11.4734C93.9095 8.56062 96.0591 7.10425 98.9838 7.10425L99.8295 7.17529Z" fill="black"/>
        <path d="M113.678 15.5228C113.537 13.8888 113.044 12.5745 112.163 11.6154C111.282 10.6564 110.154 10.1946 108.745 10.1946C107.335 10.1946 106.243 10.6564 105.362 11.5444C104.516 12.4679 103.988 13.7822 103.776 15.4873H113.678V15.5228ZM117.66 21.0286C117.202 23.1598 116.145 24.7938 114.594 26.0015C113.009 27.2093 111.141 27.7776 108.956 27.7776C106.031 27.7776 103.741 26.8185 102.05 24.9004C100.358 22.9822 99.5124 20.5313 99.5124 17.5475C99.5124 14.5637 100.393 11.9707 102.155 9.94594C103.917 7.95675 106.137 6.96216 108.85 6.96216C111.564 6.96216 113.89 7.95675 115.51 9.91042C117.167 11.8641 117.977 14.5637 117.977 17.9382V18.4H103.776C103.811 20.3892 104.305 21.8811 105.221 22.9822C106.137 24.0834 107.441 24.5807 109.062 24.5807C110.225 24.5807 111.176 24.2965 111.916 23.7282C112.656 23.1598 113.22 22.2718 113.643 21.0286H117.66Z" fill="black"/>
        <path d="M123.545 7.56602V10.3367C125.13 8.13436 127.139 7.0332 129.57 7.0332C130.839 7.0332 131.931 7.31737 132.883 7.92123C133.834 8.48957 134.504 9.30656 134.962 10.3722C136.512 8.13436 138.591 7.0332 141.199 7.0332C142.996 7.0332 144.511 7.60154 145.71 8.66718C146.908 9.76834 147.507 11.2958 147.507 13.2494V27.1382H143.243V15.0965C143.243 13.7112 142.996 12.61 142.538 11.8286C142.08 11.0471 141.164 10.6564 139.825 10.6564C138.486 10.6564 137.429 11.0826 136.689 11.9707C135.984 12.8587 135.596 14.0664 135.596 15.6293V27.1382H131.332V14.8834C131.332 13.4981 131.121 12.4324 130.733 11.722C130.31 11.0116 129.465 10.6564 128.161 10.6564C126.716 10.6564 125.624 11.1181 124.884 12.0772C124.144 13.0363 123.756 14.2795 123.756 15.8425V27.1027H119.492V7.56602H123.545Z" fill="black"/>
        <path d="M153.11 7.56602V27.1382H148.846V7.56602H153.11ZM153.11 0V4.26255H148.846V0H153.11Z" fill="black"/>
        <path d="M168.544 15.5228C168.403 13.8888 167.91 12.5745 167.029 11.6154C166.148 10.6564 165.02 10.1946 163.61 10.1946C162.201 10.1946 161.109 10.6564 160.228 11.5444C159.382 12.4679 158.853 13.7822 158.642 15.4873H168.544V15.5228ZM172.526 21.0286C172.068 23.1598 171.01 24.7938 169.46 26.0015C167.874 27.2093 166.007 27.7776 163.822 27.7776C160.897 27.7776 158.607 26.8185 156.915 24.9004C155.224 22.9822 154.378 20.5313 154.378 17.5475C154.378 14.5637 155.259 11.9707 157.021 9.94594C158.783 7.95675 161.003 6.96216 163.716 6.96216C166.43 6.96216 168.755 7.95675 170.376 9.91042C172.032 11.8641 172.843 14.5637 172.843 17.9382V18.4H158.642C158.677 20.3892 159.17 21.8811 160.087 22.9822C161.003 24.0479 162.307 24.5807 163.928 24.5807C165.09 24.5807 166.042 24.2965 166.782 23.7282C167.522 23.1598 168.086 22.2718 168.509 21.0286H172.526Z" fill="black"/>
        <path d="M185.317 7.17529V11.2958C184.577 11.2247 184.084 11.1892 183.837 11.1892C180.137 11.1892 178.27 13.6402 178.27 18.5066V27.1027H174.041V7.56602H178.023V11.4734C179.397 8.56062 181.547 7.10425 184.471 7.10425L185.317 7.17529Z" fill="black"/>
        <path d="M203.359 14.7767V23.2308H210.336C212.133 23.2308 213.543 22.9111 214.565 22.3072C215.587 21.7034 216.08 20.6022 216.08 19.0037C216.08 18.1157 215.939 17.3698 215.622 16.7659C215.305 16.162 214.847 15.7358 214.283 15.4516C213.684 15.1674 213.085 14.9898 212.486 14.8833C211.851 14.7767 211.147 14.7412 210.301 14.7412H203.359V14.7767ZM203.359 3.94274V11.3667H209.702C211.499 11.3667 212.803 11.0825 213.649 10.5142C214.494 9.94583 214.917 8.98675 214.917 7.63695C214.917 6.10953 214.494 5.11494 213.578 4.65316C212.697 4.19139 211.429 3.94274 209.843 3.94274H203.359ZM198.813 0.106445H210.935C213.719 0.106445 215.869 0.710306 217.349 1.95355C218.829 3.19679 219.569 4.83077 219.569 6.891C219.569 8.16977 219.216 9.34197 218.511 10.3721C217.807 11.4022 216.89 12.1481 215.763 12.6099C217.313 13.0007 218.511 13.7466 219.428 14.8833C220.309 16.02 220.767 17.4408 220.767 19.1813C220.767 21.5613 219.991 23.4794 218.441 24.9358C216.89 26.3922 214.882 27.1381 212.38 27.1381H198.849L198.813 0.106445Z" fill="black"/>
        <path d="M235.144 17.299C234.827 17.4766 234.439 17.6186 234.016 17.7607C233.593 17.9028 233.241 17.9739 232.994 18.0449C232.748 18.0804 232.325 18.1515 231.761 18.2225C231.197 18.2936 230.845 18.3646 230.669 18.3646C230.14 18.4356 229.752 18.5067 229.435 18.5777C229.153 18.6488 228.766 18.7553 228.343 18.8974C227.92 19.0395 227.568 19.2171 227.321 19.4658C227.074 19.6789 226.898 19.963 226.722 20.3538C226.546 20.709 226.475 21.1708 226.475 21.6681C226.475 22.5916 226.792 23.3376 227.391 23.8349C227.99 24.3322 228.836 24.5808 229.964 24.5808C231.867 24.5808 233.311 24.048 234.333 23.0179C234.897 22.4495 235.179 21.3129 235.179 19.6434V17.299H235.144ZM222.916 13.5692C223.374 9.12907 226.158 6.92676 231.338 6.92676C233.734 6.92676 235.672 7.38853 237.117 8.38313C238.562 9.3422 239.267 10.8341 239.267 12.8588V22.8047C239.267 23.3731 239.337 23.7283 239.478 23.9414C239.619 24.1546 239.866 24.2611 240.289 24.2611C240.57 24.2611 240.923 24.2256 241.275 24.1901V27.2094C240.183 27.4936 239.267 27.6356 238.527 27.6356C236.73 27.6356 235.672 26.8542 235.39 25.2912C233.77 26.8542 231.514 27.6356 228.625 27.6356C226.651 27.6356 225.066 27.1028 223.903 26.0727C222.74 25.0071 222.141 23.5862 222.141 21.8102C222.141 21.2418 222.211 20.7445 222.317 20.2472C222.458 19.7854 222.599 19.3592 222.74 19.004C222.916 18.6488 223.163 18.3291 223.515 18.0094C223.868 17.6897 224.185 17.441 224.396 17.2634C224.608 17.0858 225.03 16.8727 225.559 16.6951C226.088 16.5175 226.475 16.3754 226.757 16.3044C227.004 16.2333 227.462 16.1268 228.131 16.0202C228.766 15.9136 229.224 15.8426 229.435 15.8071C229.647 15.7715 230.07 15.7005 230.774 15.6295C232.29 15.4163 233.311 15.2742 233.875 15.1322C234.404 14.9901 234.791 14.7769 235.003 14.4928C235.179 14.2797 235.25 13.8179 235.25 13.1075C235.25 11.1183 233.946 10.1592 231.303 10.1592C229.893 10.1592 228.907 10.4434 228.237 10.9407C227.603 11.4735 227.18 12.3615 227.004 13.6403L222.916 13.5692Z" fill="black"/>
        <path d="M259 7.53052L251.882 26.712C251.811 26.8896 251.67 27.2803 251.459 27.8131C251.248 28.3815 251.107 28.7722 251.036 28.9853C250.966 29.1985 250.825 29.5537 250.613 30.051C250.402 30.5483 250.226 30.9035 250.12 31.1166C249.979 31.3297 249.803 31.6139 249.556 32.0402C249.31 32.4309 249.063 32.7506 248.851 32.9282C248.64 33.1058 248.393 33.3189 248.076 33.6031C247.759 33.8873 247.442 34.0649 247.125 34.1714C246.808 34.278 246.42 34.3846 246.032 34.4911C245.61 34.5622 245.187 34.6332 244.693 34.6332C243.883 34.6332 242.931 34.5622 241.733 34.4201V30.7259C242.614 30.9035 243.39 31.0101 243.989 31.0101C244.27 31.0101 244.552 30.9745 244.799 30.868C245.046 30.7969 245.257 30.6193 245.469 30.4062C245.68 30.1931 245.856 29.9799 245.997 29.8023C246.138 29.6247 246.279 29.3406 246.42 29.0209C246.561 28.6657 246.667 28.417 246.737 28.2394C246.808 28.0618 246.913 27.7421 247.019 27.3514C247.16 26.9606 247.23 26.6765 247.23 26.6054L239.83 7.60156H244.552L249.697 22.0232L254.56 7.60156H259V7.53052Z" fill="black"/>
        <path d="M13.3552 0H0V43.6556H13.3552V0Z" fill="#BB6629"/>
        <path d="M37.3171 0H17.5133V13.4625H37.3171V0Z" fill="#BB6629"/>
        <path d="M37.3171 30.1931H17.5133V43.6557H37.3171V30.1931Z" fill="#BB6629"/>
        <path d="M54.8305 0H41.4752V43.6556H54.8305V0Z" fill="#BB6629"/>
        <path d="M65.719 43.7265L68.961 39.7482L65.86 36.125H67.2695L70.0886 39.4285H70.2295V36.125H71.4629V39.4285H71.6038L74.3876 36.125H75.8324L72.6962 39.7482L75.9381 43.7265H74.4933L71.6038 40.1389H71.4629V43.7265H70.2295V40.1389H70.0886L67.199 43.7265H65.719Z" fill="black"/>
        <path d="M77.1362 43.7265V36.125H78.3695V41.9505H78.5105L82.4924 36.125H83.9724V43.7265H82.739V37.9011H82.5981L78.6162 43.7265H77.1362Z" fill="black"/>
        <path d="M88.1305 43.7265V37.2617H85.4171V36.125H92.0771V37.2617H89.3638V43.7265H88.1305Z" fill="black"/>
        <path d="M95.4248 43.7265V37.2617H92.7114V36.125H99.3362V37.2617H96.6581V43.7265H95.4248Z" fill="black"/>
        <path d="M103.353 39.7838H105.432V37.2263H103.353C102.825 37.2263 102.402 37.3328 102.12 37.5815C101.803 37.7946 101.662 38.1143 101.662 38.505C101.662 38.8958 101.803 39.1799 102.12 39.4286C102.437 39.6772 102.825 39.7838 103.353 39.7838ZM100.393 43.7267L102.79 40.9205C102.014 40.8494 101.45 40.6008 101.028 40.139C100.605 39.6772 100.429 39.1444 100.429 38.505C100.429 37.7946 100.71 37.2263 101.239 36.7645C101.768 36.3382 102.508 36.0896 103.389 36.0896H106.701V43.6911H105.468V40.885H104.164L101.944 43.6911H100.393V43.7267Z" fill="black"/>
        <path d="M113.854 42.6609H116.215C116.638 42.6609 116.99 42.5543 117.272 42.3057C117.554 42.057 117.695 41.7729 117.695 41.4532C117.695 41.098 117.554 40.8493 117.272 40.6362C116.99 40.4231 116.638 40.3165 116.215 40.3165H113.854V42.6609ZM113.854 39.2153H116.25C116.603 39.2153 116.885 39.1088 117.131 38.9312C117.378 38.7536 117.484 38.5049 117.484 38.2208C117.484 37.9366 117.378 37.6879 117.131 37.5103C116.885 37.3327 116.603 37.2262 116.25 37.2262H113.854V39.2153ZM112.656 43.7265V36.125H116.391C117.061 36.125 117.625 36.3026 118.048 36.6578C118.47 37.013 118.682 37.4748 118.682 38.0076C118.682 38.3984 118.576 38.7536 118.365 39.0377C118.153 39.3219 117.871 39.535 117.554 39.6416V39.7837C117.977 39.8903 118.294 40.0679 118.541 40.352C118.788 40.6362 118.929 41.0269 118.929 41.4887C118.929 42.1281 118.717 42.6609 118.224 43.0872C117.766 43.5134 117.167 43.691 116.427 43.691L112.656 43.7265Z" fill="black"/>
        <path d="M125.8 42.5899H129.993V37.2262H127.069L126.716 40.2455C126.61 41.2756 126.293 41.986 125.8 42.4123V42.5899ZM123.545 45.9999V42.6254H124.531C124.849 42.4123 125.06 42.0926 125.236 41.6308C125.377 41.2045 125.518 40.5652 125.624 39.7482L126.047 36.125H131.262V42.5899H132.53V45.9644H131.438V43.691H124.708V45.9644L123.545 45.9999Z" fill="black"/>
        <path d="M135.455 42.057C135.984 42.6254 136.653 42.9095 137.464 42.9095C138.274 42.9095 138.944 42.6254 139.472 42.057C140.001 41.4887 140.248 40.7783 140.248 39.9258C140.248 39.0733 140.001 38.3628 139.472 37.7945C138.944 37.2261 138.274 36.942 137.464 36.942C136.653 36.942 135.984 37.2261 135.455 37.7945C134.927 38.3628 134.68 39.0733 134.68 39.9258C134.68 40.7783 134.927 41.4887 135.455 42.057ZM140.353 42.874C139.613 43.6555 138.627 44.0107 137.464 44.0107C136.301 44.0107 135.314 43.62 134.574 42.874C133.834 42.0926 133.447 41.1335 133.447 39.9258C133.447 38.718 133.834 37.759 134.574 36.9775C135.314 36.196 136.301 35.8408 137.464 35.8408C138.627 35.8408 139.613 36.2316 140.353 36.9775C141.093 37.759 141.481 38.718 141.481 39.9258C141.481 41.098 141.093 42.0926 140.353 42.874Z" fill="black"/>
        <path d="M146.872 44.0463C145.745 44.0463 144.793 43.6556 144.053 42.8741C143.313 42.0927 142.961 41.0981 142.961 39.9259C142.961 38.7537 143.313 37.7591 144.053 36.9776C144.793 36.1962 145.71 35.8054 146.837 35.8054C147.753 35.8054 148.564 36.0541 149.269 36.5869C149.973 37.1197 150.361 37.7946 150.502 38.6116L149.304 38.7892C149.163 38.2564 148.881 37.7946 148.423 37.4749C147.965 37.1197 147.436 36.9776 146.872 36.9776C146.097 36.9776 145.463 37.2618 144.934 37.8301C144.406 38.3985 144.159 39.1089 144.194 39.9614C144.194 40.8494 144.441 41.5599 144.934 42.0927C145.428 42.661 146.062 42.9452 146.837 42.9452C147.436 42.9452 147.93 42.7676 148.388 42.4479C148.846 42.1282 149.163 41.6664 149.304 41.1336L150.502 41.2757C150.326 42.0927 149.903 42.7676 149.198 43.2649C148.493 43.7622 147.753 44.0463 146.872 44.0463Z" fill="black"/>
        <path d="M152.44 43.7265V36.125H153.673V39.3574H153.814L157.021 36.125H158.642L154.942 39.7482L158.748 43.7265H157.091L153.814 40.1744H153.673V43.7265H152.44Z" fill="black"/>
        <path d="M161.109 42.057C161.637 42.6254 162.307 42.9095 163.117 42.9095C163.928 42.9095 164.597 42.6254 165.126 42.057C165.654 41.4887 165.901 40.7783 165.901 39.9258C165.901 39.0733 165.654 38.3628 165.126 37.7945C164.597 37.2261 163.928 36.942 163.117 36.942C162.307 36.942 161.637 37.2261 161.109 37.7945C160.58 38.3628 160.333 39.0733 160.333 39.9258C160.333 40.7783 160.58 41.4887 161.109 42.057ZM166.007 42.874C165.267 43.6555 164.28 44.0107 163.117 44.0107C161.954 44.0107 160.968 43.62 160.228 42.874C159.488 42.0926 159.1 41.1335 159.1 39.9258C159.1 38.718 159.488 37.759 160.228 36.9775C160.968 36.196 161.954 35.8408 163.117 35.8408C164.28 35.8408 165.267 36.2316 166.007 36.9775C166.747 37.759 167.134 38.718 167.134 39.9258C167.134 41.098 166.747 42.0926 166.007 42.874Z" fill="black"/>
        <path d="M169.002 43.7265V36.125H170.235V39.3219H174.605V36.125H175.838V43.7265H174.605V40.4586H170.235V43.7265H169.002Z" fill="black"/>
        <path d="M180.384 42.9451C181.159 42.9451 181.758 42.7319 182.216 42.3057C182.674 41.8794 182.921 41.3466 182.921 40.7072V40.0323L180.842 40.281C179.432 40.4586 178.728 40.9559 178.728 41.7729C178.728 42.1281 178.869 42.4122 179.15 42.6254C179.468 42.803 179.855 42.9095 180.384 42.9451ZM180.208 43.9752C179.397 43.9752 178.763 43.7621 178.27 43.3713C177.776 42.9806 177.53 42.4478 177.53 41.8084C177.53 41.169 177.811 40.5651 178.375 40.1034C178.939 39.6416 179.785 39.3574 180.877 39.2153L182.956 38.9667V38.6825C182.956 38.1852 182.78 37.759 182.428 37.4393C182.075 37.1196 181.617 36.9775 180.983 36.9775C180.419 36.9775 179.961 37.1196 179.609 37.3682C179.256 37.6169 179.115 38.0076 179.115 38.4694H177.882C177.882 37.6524 178.164 37.013 178.728 36.5512C179.291 36.0895 180.031 35.8408 180.983 35.8408C181.934 35.8408 182.71 36.0895 183.309 36.6223C183.908 37.1551 184.154 37.83 184.154 38.6825V43.7265H182.921V42.6254H182.78C182.251 43.5134 181.37 43.9752 180.208 43.9752Z" fill="black"/>
        <path d="M185.317 43.7265V42.6609C185.81 42.6609 186.163 42.4833 186.374 42.1636C186.586 41.8439 186.727 41.2756 186.832 40.4941L187.361 36.125H192.4V43.7265H191.167V37.2617H188.453L187.89 41.2401C187.678 42.874 186.832 43.7265 185.317 43.7265Z" fill="black"/>
        <path d="M196.276 42.057C196.805 42.6254 197.474 42.9095 198.285 42.9095C199.095 42.9095 199.765 42.6254 200.293 42.057C200.822 41.4887 201.069 40.7783 201.069 39.9258C201.069 39.0733 200.822 38.3628 200.293 37.7945C199.765 37.2261 199.095 36.942 198.285 36.942C197.474 36.942 196.805 37.2261 196.276 37.7945C195.748 38.3628 195.501 39.0733 195.501 39.9258C195.501 40.7783 195.748 41.4887 196.276 42.057ZM201.174 42.874C200.434 43.6555 199.448 44.0107 198.285 44.0107C197.122 44.0107 196.135 43.62 195.395 42.874C194.655 42.0926 194.268 41.1335 194.268 39.9258C194.268 38.718 194.655 37.759 195.395 36.9775C196.135 36.196 197.122 35.8408 198.285 35.8408C199.448 35.8408 200.434 36.2316 201.174 36.9775C201.914 37.759 202.302 38.718 202.302 39.9258C202.302 41.098 201.914 42.0926 201.174 42.874Z" fill="black"/>
        <path d="M207.693 44.0463C206.566 44.0463 205.614 43.6556 204.874 42.8741C204.134 42.0927 203.782 41.0981 203.782 39.9259C203.782 38.7537 204.134 37.7591 204.874 36.9776C205.614 36.1962 206.53 35.8054 207.658 35.8054C208.574 35.8054 209.385 36.0541 210.09 36.5869C210.794 37.1197 211.182 37.7946 211.323 38.6116L210.125 38.7892C209.984 38.2564 209.702 37.7946 209.244 37.4749C208.786 37.1197 208.257 36.9776 207.693 36.9776C206.918 36.9776 206.284 37.2618 205.755 37.8301C205.227 38.3985 204.98 39.1089 205.015 39.9614C205.015 40.8494 205.262 41.5599 205.755 42.0927C206.249 42.661 206.883 42.9452 207.658 42.9452C208.257 42.9452 208.75 42.7676 209.209 42.4479C209.667 42.1282 209.984 41.6664 210.125 41.1336L211.323 41.2757C211.147 42.0927 210.724 42.7676 210.019 43.2649C209.314 43.7622 208.574 44.0463 207.693 44.0463Z" fill="black"/>
        <path d="M214.988 43.7265V37.2617H212.274V36.125H218.934V37.2617H216.221V43.7265H214.988Z" fill="black"/>
        <path d="M220.626 43.7266V36.125H221.859V43.7266H220.626ZM221.894 34.42C221.718 34.5976 221.507 34.6686 221.26 34.6686C221.013 34.6686 220.802 34.5976 220.626 34.42C220.449 34.2424 220.379 34.0293 220.379 33.7806C220.379 33.532 220.449 33.3188 220.626 33.1412C220.802 32.9636 221.013 32.8926 221.26 32.8926C221.507 32.8926 221.718 32.9636 221.894 33.1412C222.07 33.3188 222.141 33.4964 222.141 33.7806C222.141 34.0293 222.035 34.2424 221.894 34.42Z" fill="black"/>
        </g>
        <defs>
        <clipPath id="clip0_3069_9011">
        <rect width="259" height="46" fill="white"/>
        </clipPath>
        </defs>
      </svg>
    .buttons-wrap 
      button(data-call-us-btn).accent-btn 
        span Залишити заявку
      button(data-call-us-btn).link-wave.call-us-btn
        span Залишити заявку
        <svg class="link__graphic link__graphic--slide" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
          <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"></path>
        </svg>
    .menu-btn(data-menu-button) 
      span.text Меню
      .menu-wrap
        span.over 
        span.center 
        span.under 
.iframe-popup(data-iframe-modal) 
  iframe(src="" loading="lazy" allowfullscreen="true").iframe-window
  .iframe-filter 
    button(type="button" data-day="day").general-btn.active День
    button(type="button" data-day="night").general-btn Ніч
    button(type="button" data-day="sunset").general-btn Захід сонця
  .iframe__close-btn(data-iframe-close)
    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M3.96967 3.46967C4.26256 3.17678 4.73744 3.17678 5.03033 3.46967L8.5 6.93934L11.9697 3.46967C12.2626 3.17678 12.7374 3.17678 13.0303 3.46967C13.3232 3.76256 13.3232 4.23744 13.0303 4.53033L9.56066 8L13.0303 11.4697C13.3232 11.7626 13.3232 12.2374 13.0303 12.5303C12.7374 12.8232 12.2626 12.8232 11.9697 12.5303L8.5 9.06066L5.03033 12.5303C4.73744 12.8232 4.26256 12.8232 3.96967 12.5303C3.67678 12.2374 3.67678 11.7626 3.96967 11.4697L7.43934 8L3.96967 4.53033C3.67678 4.23744 3.67678 3.76256 3.96967 3.46967Z" fill="#221A22"/>
    </svg>
.overflow(data-call-us__overflow).hidden
  .form-wrap(data-call-us-modal)
    .close-btn(data-call-us-modal-close) 
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.99992 2.79285L4.35348 3.1464L11.9999 10.7928L19.6464 3.1464L19.9999 2.79285L20.707 3.49995L20.3535 3.85351L12.707 11.5L20.3535 19.1464L20.707 19.5L19.9999 20.2071L19.6464 19.8535L11.9999 12.2071L4.35348 19.8535L3.99992 20.2071L3.29282 19.5L3.64637 19.1464L11.2928 11.5L3.64637 3.85351L3.29282 3.49995L3.99992 2.79285Z" fill="#F6F6F6"/>
      </svg>
    .form-title Зворотній дзвінок
    .form-descr Якщо у вас лишилися запитання ми з радістю відповімо вам
    +form
.menu-container.hidden(data-menu)
  .menu-list 
    .left-block
      a(href="/").menu-item 
        span Головна
      a(href="/about.html").menu-item 
        span ПРО КОМПЛЕКС
      a(href="/panorama.html").menu-item 
        span 360° ПАНОРАМА
      a(href="/tours.html").menu-item 
        span 3D ШОУРУМ
    .right-block
      a(href="/gallery.html").menu-item 
        span ГАЛЕРЕЯ
      a(href="/progress.html").menu-item 
        span ХІД БУДІВНИЦТВА
      a(href="/news.html").menu-item 
        span НОВИНИ ТА АКЦІЇ
      a(href="#footer" data-menu-button).menu-item
        span КОНТАКТИ
  .menu-blocks__wrap 
    .big-blocks__wrap 
      a(href="/").menu-block 
        .menu-block__text 
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6" fill="none">
            <rect x="5" y="5.5" width="2" height="2" rx="1" transform="rotate(180 5 5.5)" fill="#F6F6F6"/>
            <rect x="2" y="2.5" width="2" height="2" rx="1" transform="rotate(180 2 2.5)" fill="#F6F6F6"/>
            <rect x="8" y="2.5" width="2" height="2" rx="1" transform="rotate(180 8 2.5)" fill="#F6F6F6"/>
          </svg>
          p Обрати квартиру
        .deap-mask
        .menu-img__wrap.house
          img(src="./assets/images/Menu/house.png" alt="House").menu-block__img
        .top-mask
      a(href="/property.html").menu-block 
        .menu-block__text 
          <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6" fill="none">
            <rect x="5" y="5.5" width="2" height="2" rx="1" transform="rotate(180 5 5.5)" fill="#F6F6F6"/>
            <rect x="2" y="2.5" width="2" height="2" rx="1" transform="rotate(180 2 2.5)" fill="#F6F6F6"/>
            <rect x="8" y="2.5" width="2" height="2" rx="1" transform="rotate(180 8 2.5)" fill="#F6F6F6"/>
          </svg>
          p КОМЕРЦІЙНА НЕРУХОМІСТЬ
        .deap-mask
        .menu-img__wrap.girl
          img(src="./assets/images/Menu/girl.png" alt="Girl").menu-block__img
        .top-mask
    .menu-contact-block 
      a(href="tel:+380672632222").phone.link-wave
        span +38 067 263 22 22
        <svg class="link__graphic link__graphic--slide" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
          <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"></path>
        </svg>
      .menu-socials
        a(href="https://t.me/twinsvn" target="_blank" rel="noopener noreferrer")
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M6.27827 9.9088L6.0136 13.2592C6.39227 13.2592 6.55628 13.1128 6.75295 12.937L8.52832 11.41L12.2071 13.8346C12.8818 14.173 13.3571 13.9948 13.5391 13.276L15.9538 3.09284L15.9545 3.09224C16.1685 2.19464 15.5938 1.84364 14.9365 2.06384L0.742803 6.95442C-0.225887 7.29282 -0.21122 7.77881 0.578132 7.99901L4.20689 9.01481L12.6358 4.26823C13.0324 4.03183 13.3931 4.16263 13.0964 4.39903L6.27827 9.9088Z" fill="#F6F6F6" fill-opacity="0.964706" />
          </svg>
        a(href="https://wa.me/qr/GB4B4WNZDFFWN1" target="_blank" rel="noopener noreferrer")
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M4.41883 13.4622L4.66072 13.6049C5.67715 14.2055 6.84247 14.523 8.03082 14.5237H8.03341C11.683 14.5237 14.6533 11.5673 14.6546 7.93375C14.6552 6.17279 13.9672 4.51717 12.7171 3.27147C11.4669 2.026 9.80464 1.33962 8.03577 1.33889C4.38346 1.33889 1.41316 4.29482 1.41178 7.92836C1.4113 9.17348 1.76117 10.3861 2.42407 11.4352L2.58163 11.6846L1.91258 14.1163L4.41883 13.4622ZM0 16L1.13016 11.8916C0.433065 10.6892 0.0663412 9.32525 0.0669153 7.92799C0.0686145 3.5565 3.64207 0 8.03357 0C10.1645 0.000914442 12.1647 0.826564 13.6688 2.3252C15.1727 3.82381 16.0007 5.81585 16 7.93439C15.9981 12.3057 12.4239 15.8628 8.03357 15.8628C8.03325 15.8628 8.03373 15.8628 8.03357 15.8628H8.03017C6.69692 15.8624 5.38686 15.5294 4.22331 14.8976L0 16Z" fill="#F6F6F6" fill-opacity="0.964706" />
            <path d="M0.0669158 7.92823C0.0664336 9.32547 0.43316 10.6896 1.13026 11.8919L0 16L4.22322 14.8976C5.38684 15.5293 6.69684 15.8623 8.0301 15.8628H8.03351C12.4239 15.8628 15.9982 12.3056 16 7.93438C16.0007 5.81573 15.1727 3.82374 13.6687 2.3252C12.1645 0.826656 10.1645 0.000914441 8.03351 0C3.6422 0 0.0686189 3.55649 0.0667818 7.92798M2.58174 11.6847L2.4241 11.4355C1.76119 10.3862 1.41131 9.17358 1.4118 7.92857C1.41324 4.29527 4.3835 1.33911 8.03585 1.33911C9.80454 1.33979 11.4668 2.02624 12.7172 3.27169C13.9674 4.51723 14.6553 6.17298 14.6549 7.93374C14.6532 11.5673 11.6829 14.5237 8.03334 14.5237H8.03075C6.84241 14.523 5.67699 14.2054 4.66063 13.605L4.41873 13.4622L1.9125 14.1164L2.58174 11.6847ZM8.03351 15.8628H8.03359H8.03351C8.03334 15.8628 8.03342 15.8628 8.03351 15.8628Z" fill="#F6F6F6" fill-opacity="0.964706" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.03394 4.37166C5.88647 4.01822 5.7313 4.01114 5.59104 4.00492C5.47625 3.99966 5.34497 4 5.21383 4C5.08254 4 4.8693 4.05312 4.68898 4.2655C4.5085 4.47789 4 4.9913 4 6.03545C4 7.0797 4.70542 8.0887 4.8037 8.23043C4.90214 8.37191 6.16542 10.5832 8.16594 11.4339C9.82869 12.1408 10.167 12.0002 10.5279 11.9648C10.8888 11.9295 11.6925 11.4516 11.8565 10.956C12.0205 10.4604 12.0205 10.0357 11.9714 9.94698C11.9222 9.85853 11.7909 9.80541 11.5941 9.69935C11.3972 9.5932 10.4295 9.07972 10.2491 9.00889C10.0686 8.93815 9.93738 8.90282 9.80609 9.1153C9.67488 9.32752 9.29791 9.80542 9.18303 9.94698C9.06824 10.0888 8.95337 10.1065 8.75655 10.0004C8.55965 9.89387 7.92569 9.66998 7.17366 8.94705C6.58849 8.38451 6.19348 7.68982 6.07861 7.47732C5.96381 7.26511 6.06635 7.15015 6.16504 7.04433C6.25348 6.94923 6.36194 6.79653 6.46039 6.67267C6.5586 6.54872 6.59136 6.46028 6.65697 6.31871C6.72266 6.17706 6.68981 6.05311 6.64063 5.94695C6.59136 5.8408 6.20885 4.79127 6.03383 4.3716" fill="#F6F6F6" fill-opacity="0.964706" />
          </svg>
        a(href="viber://chat?number=%2B380672632222" target="_blank" rel="noopener noreferrer" class="viber")
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M13.6939 1.56498C13.3081 1.20802 11.7646 0.0321653 8.29177 0.0111679C8.29177 0.0111679 4.20969 -0.240804 2.21942 1.64897C1.10243 2.80382 0.71656 4.46262 0.675942 6.54137C0.635325 8.62012 0.574403 12.5046 4.20969 13.5755V15.1923C4.20969 15.1923 4.18938 15.8432 4.59556 15.9692C5.10328 16.1372 5.3876 15.6333 5.87501 15.1083C6.13903 14.8144 6.50459 14.3944 6.7686 14.0584C9.24629 14.2684 11.1553 13.7855 11.3787 13.7015C11.8864 13.5335 14.7094 13.1556 15.1765 9.27104C15.6639 5.23953 14.9734 2.69884 13.6939 1.56498ZM14.1204 8.95608C13.7345 12.2107 11.4396 12.4206 11.0132 12.5466C10.8304 12.6096 9.16506 13.0296 7.05293 12.9036C7.05293 12.9036 5.48915 14.8563 4.98143 15.3813C4.90019 15.4653 4.81895 15.4863 4.75803 15.4863C4.67679 15.4653 4.65648 15.3603 4.65648 15.2133C4.65648 15.0033 4.67679 12.5256 4.67679 12.5256C1.61015 11.6437 1.79293 8.32615 1.81324 6.58336C1.85386 4.84057 2.15849 3.43375 3.0927 2.46786C4.77834 0.893056 8.25115 1.12403 8.25115 1.12403C11.1756 1.14503 12.5769 2.04791 12.9019 2.36288C13.9579 3.32876 14.5063 5.61748 14.1204 8.95608Z" fill="#F6F6F6" fill-opacity="0.964706" />
            <path d="M9.71298 6.45765C9.67237 5.65972 9.28662 5.23975 8.5354 5.19775" stroke="#F6F6F6" stroke-opacity="0.964706" stroke-width="0.666667" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M10.7289 6.79324C10.7493 6.0583 10.5259 5.42836 10.0994 4.9454C9.65254 4.44144 9.04325 4.16846 8.27148 4.10547" stroke="#F6F6F6" stroke-opacity="0.964706" stroke-width="0.666667" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M11.7443 7.21331C11.7443 5.93242 11.3584 4.9245 10.6273 4.18956C9.89615 3.45463 8.98222 3.07666 7.8855 3.07666" stroke="#F6F6F6" stroke-opacity="0.964706" stroke-width="0.666667" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M8.57603 9.16619C8.57603 9.16619 8.86035 9.18718 9.00251 8.99821L9.28684 8.62025C9.429 8.43128 9.75394 8.30529 10.0992 8.49427C10.282 8.59926 10.6069 8.80923 10.81 8.97721C11.0334 9.14519 11.4802 9.52314 11.4802 9.52314C11.7036 9.71212 11.7442 9.98509 11.602 10.2791C11.4599 10.552 11.2568 10.804 10.9928 11.035C10.7897 11.2239 10.5866 11.3079 10.3835 11.3499H10.3023C10.221 11.3499 10.1195 11.3289 10.0383 11.3079C9.73363 11.2239 9.22591 10.993 8.35263 10.51C7.80429 10.1951 7.33719 9.8591 6.95132 9.54414C6.74823 9.37616 6.52483 9.18719 6.32174 8.95621L6.24051 8.87222C6.01711 8.64125 5.83433 8.43128 5.67186 8.2213C5.36722 7.82235 5.04228 7.33941 4.73765 6.77248C4.27054 5.89058 4.04715 5.36565 3.96591 5.02969C3.9456 4.9457 3.92529 4.86172 3.92529 4.75673V4.67273C3.9456 4.46276 4.04715 4.25278 4.22993 4.04281C4.45332 3.79084 4.69703 3.58087 4.96105 3.41289C5.24537 3.26591 5.50939 3.3079 5.69217 3.53887C5.69217 3.53887 6.05773 4.00082 6.2202 4.23179C6.36236 4.44177 6.56545 4.77773 6.6873 4.9667C6.87008 5.30266 6.74823 5.65962 6.58576 5.8066L6.2202 6.10056C6.03742 6.24754 6.05772 6.54151 6.05772 6.54151C6.05772 6.54151 6.56545 8.62026 8.57603 9.16619Z" fill="#F6F6F6" fill-opacity="0.964706" />
          </svg>



